@charset "UTF-8";
body{

   /*height: 100vh;
   background-image:url(imagens/modelo-de-design-de-graficos-de-marketing-azul_52683-24522.webp);background-repeat: no-repeat;*/
    
    
}

#contener-header{
    position: fixed;
    width: 100%;
    width: 100%;
    margin-top: -10px;
    margin-left: -10px;
    background-color: rgb(4, 4, 4);
    box-shadow:10px 2px 10px rgb(138, 136, 136);
    color: white;
    min-width: 555px;
    flex-wrap: nowrap;
    z-index: 0;
   
   
}

#contener-1{
 display:inline-block;
 width: 25%;
 height: 100px;
 

}

 

#contener-2{
    position: absolute;
    margin-top: 0%;
    text-align: center ;
    display:inline-block;
    width: 75%;
    height: 100px;
    
}

#general{
    
    padding: 15px ;
    text-align: center;
    background-color: rgba(220, 217, 217, 0.579);
    border-radius: 5px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 40px;
    min-width: 300px;
    max-width: 100%;
    z-index: 1;
   
     
}

.button{

    width: 110px;
    height: 18px;
    font-size: 12px;
    box-shadow:6px 2px 6px rgb(68, 67, 67);
}

p{
    text-align: justify ;
    font-size: 18px;

    margin-left: 20%;
    margin-right: 20%;
}




#view  {
   
   position:fixed;
   margin-top: 95px;
   min-width: 150px;
    
}

a{
    color: blue;
}

.fechar{
    background-color: rgba(246, 0, 0, 0.881);
    color: white;
    border: 1px solid black;
    width: 60px;
    padding: 0px 5px 0px 5px;
    font-size: 11px;
}