@charset "UTF-8";
body{

    /*height: 200vh;*/
    text-align: center;
    
}

#general{
    position: absolute;
    padding: 0px 15px 15px 15px;
    text-align: center;
    background-color: aqua;
    margin-left: 18%;
    margin-right: 10%;
     
}


p{
    text-align: justify ;
    margin-left: 25%;
    margin-right: 25%;
}


#viewv{
    

}


.fechar{
    background-color: rgba(246, 0, 0, 0.881);
    color: white;
    border: 1px solid black;
    width: 60px;
    padding: 0px 5px 0px 5px;
    font-size: 11px;
}